<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <meta charset="utf-8" />
    <meta property="og:url" content="https://weatherapp.crut0i.com" />
    <meta property="og:site_name" content="Weather App" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Weather App" />
    <meta
      property="og:image"
      content="https://weatherapp.crut0i.com/app-icon.png"
    />
    <meta
      property="og:image:secure_url"
      content="https://weatherapp.crut0i.com/app-icon.png"
    />
    <meta property="og:image:width" content="128" />
    <meta property="og:image:height" content="128" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Weather App" />
    <meta name="twitter:description" content="Weather App" />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/static/app-icon.png" rel="apple-touch-icon" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <script defer src="/static/js/script.js"></script>
  </head>
  <body class="body">
    <div class="div-block">
      <a
        href="https://github.com/crut0i/WeatherApp"
        class="link-block w-inline-block"
      >
        <div class="div-block-3">
          <div class="text-block">Weather App</div>
          <img
            src="/static/images/logo.png"
            loading="lazy"
            class="image"
          /></div
      ></a>
    </div>
    <div class="div-block-2">
      <div class="div-block-6">
        <div class="div-block-4">
          <div class="form-block w-form">
            <form
              id="email-form"
              name="email-form"
              data-name="Email Form"
              method="get"
              class="form"
              data-wf-page-id="6838809918e2c58593a07ef9"
              data-wf-element-id="ee904d31-142d-22fa-b353-e8ee5f5c217f"
            >
              <div class="input-autocomplete-wrapper">
                <input
                  class="text-field w-input"
                  maxlength="256"
                  name="field"
                  data-name="Field"
                  placeholder="Enter city"
                  type="text"
                  id="field"
                  required=""
                />
                <span id="inline-suggestion" class="inline-suggestion"
                  ><span class="entered"></span><span class="suggested"></span
                ></span>
              </div>
            </form>
          </div>
          <a href="#" class="link-block-2 w-inline-block"
            ><img
              src="/static/images/search.png"
              loading="lazy"
              class="image-2"
          /></a>
        </div>
        <div class="div-block-5" id="weather-block">
          <ul role="list" class="list">
            <li class="list-item">
              <div class="div-block-7">
                <div>
                  <div class="text-block-2">Monday</div>
                  <div class="text-block-3">
                    This is some text inside of a div block.
                  </div>
                </div>
                <div class="div-block-8">
                  <img
                    src="/static/images/calendar.png"
                    loading="lazy"
                    class="image-3"
                  />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
